@use 'variables';


.competencias-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

.competencias-tecnicas h3,
.competencias-blandas h3 {
    margin-bottom: variables.$spacing-sm;
    color: variables.$primary-color;
}

.skills-list {
    list-style: none;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.75rem;
    color: variables.$text-dark;
    gap: variables.$spacing-sm;
    flex-wrap: wrap;
}

.skill-item span {
    min-width: 150px;
    font-weight: 500;
    font-size: 0.95em;
}

.skill-bar {
    background-color: variables.$border-color;
    height: 6px;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    flex: 1;
    min-width: 100px;
}

@media (min-width: 480px) {
    .skill-item span {
        min-width: 170px;
    }
}

@media (min-width: 768px) {
    .skill-item span {
        min-width: 200px;
    }

    .skill-bar {
        width: 60%;
    }

    .competencias-grid {
        grid-template-columns: 1fr 1fr;
        gap: variables.$spacing-lg;
    }
}

.skill-level {
    height: 100%;
    background-color: variables.$primary-color;
}

.soft-skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: variables.$spacing-sm;
}

.skill-badge {
    background-color: variables.$primary-color;
    color: variables.$accent-color;
    padding: 0.4em 0.9em;
    border-radius: 20px;
    font-weight: 500;
    font-size: 0.85em;
}